<tr>
  <td>
    {{ loop.index }}
  </td>

  <td>
    {{ clientPaginatedListItemDto.firstname }}
  </td>

  <td>
    {{ clientPaginatedListItemDto.surname }}
  </td>

  <td>
    {{ clientPaginatedListItemDto.foreignId }}
  </td>

  <td>
    <div class="btn-group">
      <button
          type="button"
          class="btn btn-primary btn-sm dropdown-toggle"
          data-mdb-dropdown-init data-mdb-ripple-init aria-expanded="false">
        {{ 'actions'|trans }}
      </button>

      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="{{ path('client_details', { id: clientPaginatedListItemDto.id }) }}">
            {{ 'view'|trans }}
          </a>
        </li>

        <li>
          <a class="dropdown-item" href="{{ path('client_update', { id: clientPaginatedListItemDto.id }) }}">
            {{ 'edit'|trans }}
          </a>
        </li>

        <li>
          <form action="{{ path('client_delete', { id: clientPaginatedListItemDto.id }) }}" method="post">
            <button type="submit" class="dropdown-item">
              {{ 'delete'|trans }}
            </button>

            <input type="hidden" name="_method" value="DELETE">
          </form>
        </li>
      </ul>
    </div>
  </td>
</tr>