{% extends 'authorized-base.html.twig' %}

{% block content %}
<div class="card">
  <div class="card-header py-3">
    <h5 class="mb-0">
      <strong>
        {{ 'add-preferred-hour'|trans }}
      </strong>
    </h5>
  </div>

  <div class="card-body">
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        <div data-mdb-input-init class="form-outline">
          {{ form_widget(form.fromDate, { attr: { class: 'form-control' } }) }}

          {{ form_label(form.fromDate, 'from-date', { label_attr: { class: 'form-label'} }) }}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        <div data-mdb-input-init class="form-outline">
          {{ form_widget(form.toDate, { attr: { class: 'form-control' } }) }}

          {{ form_label(form.toDate, 'to-date', { label_attr: { class: 'form-label'} }) }}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        <div data-mdb-input-init class="form-outline">
          {{ form_label(form.assignType, 'assign-type', { label_attr: { class: ''} }) }}

          {{ form_widget(form.assignType, { attr: { class: 'form-control' } }) }}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        {{ form_row(form.submit, { attr: { 'data-mdb-ripple-init': '', class: 'btn btn-primary' } }) }}
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        {% include 'partial/_back-to-list.html.twig' with { route: path('client_specialist_list', { clientId: clientId }) } %}
      </div>
    </div>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}