{% extends 'client/client-base.html.twig' %}

{% block tabContent %}
  <table class="table">
    <tr>
      <td>
        {{ 'firstname'|trans }}:
      </td>

      <td>
        {{ clientDetailsDto.firstname }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'surname'|trans }}:
      </td>

      <td>
        {{ clientDetailsDto.surname }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'foreign-id'|trans }}:
      </td>

      <td>
        {{ clientDetailsDto.foreignId }}
      </td>
    </tr>
  </table>
{% endblock %}