{% extends 'authorized-base.html.twig' %}

{% block content %}
<div class="card">
  <div class="card-header py-3">
    <h5 class="mb-0">
      <strong>
        {{ 'add-visit-type'|trans }}
      </strong>
    </h5>
  </div>

  <div class="card-body">
    {{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        <div data-mdb-input-init class="form-outline">
          {{ form_widget(form.code, { attr: { class: 'form-control' } }) }}
          {{ form_label(form.code, 'code', { label_attr: {class: 'form-label'} }) }}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        <div data-mdb-input-init class="form-outline">
          {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
          {{ form_label(form.name, 'name', { label_attr: {class: 'form-label'} }) }}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        <div data-mdb-input-init class="form-outline">
          {{ form_widget(form.preferredPrice, { attr: { class: 'form-control' } }) }}
          {{ form_label(form.preferredPrice, 'preferred-price', { label_attr: {class: 'form-label'} }) }}
        </div>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        {{ form_row(form.submit, { attr: { 'data-mdb-ripple-init': '', class: 'btn btn-primary' } }) }}
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-lg-3 col-md-6 col-12">
        {% include 'partial/_back-to-list.html.twig' with { route: path('visit_type_list') } %}
      </div>
    </div>

    {{ form_end(form) }}
  </div>
</div>
{% endblock %}