<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="2">
        {{ 'permissions-to-client'|trans }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        {{ 'list'|trans }}
      </td>

      <td>
        {{ (PermissionType.CLIENT_LIST in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'details'|trans }}
      </td>

      <td>
        {{ (PermissionType.CLIENT_DETAILS in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'creation'|trans }}
      </td>

      <td>
        {{ (PermissionType.CLIENT_CREATE in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'update'|trans }}
      </td>

      <td>
        {{ (PermissionType.CLIENT_UPDATE in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'removal'|trans }}
      </td>

      <td>
        {{ (PermissionType.CLIENT_DELETE in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>
  </tbody>
</table>