<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="2">
        {{ 'permissions-to-company'|trans }}
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        {{ 'details'|trans }}
      </td>

      <td>
        {{ (PermissionType.COMPANY_DETAILS in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>

    <tr>
      <td>
        {{ 'update'|trans }}
      </td>

      <td>
        {{ (PermissionType.COMPANY_UPDATE in roleDetailsDto.permissionTypes)|yesOrNo }}
      </td>
    </tr>
  </tbody>
</table>